@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ApfelGrotezk';
  src: url('/fonts/ApfelGrotezk-Fett.woff2') format('woff2'),
        url('/fonts/ApfelGrotezk-Fett.woff') format('woff');
  font-weight: 400 700;
  font-style: normal;
}

@font-face {
  font-family: 'Literata';
  src: url('/fonts/Literata-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 600;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-sans;
} 

body, input {
  @apply font-serif;
}

/* Button default styles */
.btn {
  @apply font-sans;
  @apply border-0;
  @apply h-10;
  @apply transition-colors; 
  @apply ease-in;
}

.btn-circle {
  @apply text-base-100;
  @apply bg-base-content;
}

.btn-circle:hover {
  @apply bg-base-content;
}

.btn-outline {
  @apply text-btn;
  @apply text-base-content;
  @apply border-base-content;
  @apply bg-base-100;
  @apply px-4;
}

.btn-primary {
  @apply text-btn;
  @apply text-odd-gray-100;
  @apply bg-odd-blue-500;
  @apply h-10;
  @apply px-4;
}

.btn-primary:disabled {
  @apply opacity-50;
  @apply text-odd-gray-500;
  @apply border-odd-gray-500;
}

.btn-warning {
  @apply bg-odd-pink-500;
  @apply text-odd-gray-100;
}

.btn-warning:hover {
  @apply bg-odd-pink-400;
}

.btn-link {
  @apply text-blue-500;
}

/* Input default styles */
.input-bordered {
  @apply text-base-content;
  @apply border-2;
  @apply border-base-content;
}

/* Modal default styles */
.modal-box {
  @apply p-8;
  @apply border-2;
  @apply border-base-content;
}

/* Label default styles */
.label {
  @apply px-0;
}

.label-text-alt {
  @apply text-body-sm;
}
